$base-font-size: 10px;
$fontRoboto:  'Roboto', sans-serif;;

//Разрешения экранов
$phone-width: 320px;
$smart-width: 450px;
$tablet-width: 768px;
$small-desktop-width: 1024px;
$desktop-width: 1280px;
$wide-desktop-width : 1600px;

$transition: all .3s ease;
//Цвета
$blue: #78bcff;
$red: #ff9a8e;
$green: rgba(96, 246, 16, 0.71);
$yellow: #f8f616;