.simon {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__control {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border-radius: 100%;
    overflow: hidden;

    &-item {
      max-width: 150px;
      width: 100%;
      height: 150px;
      outline: 2px solid white;

      &:hover {
        filter: brightness(110%)
      }

      &._active {
        filter: brightness(110%)
      }

      &.blue {
        background: $blue;
      }

      &.red {
        background: $red;
      }

      &.green {
        background: $green;
      }

      &.yellow {
        background: $yellow;
      }
    }
  }

  &__option {
    margin-bottom: 20px;

    &-item {
      font-size: 20px;
      display: block;
    }
  }

  &__btn {
    padding: 5px 30px;
    background: $red;
    color: white;
    font-size: 25px;
    border: none;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      background: white;
      color: $red;
      outline: 1px solid $red;
    }

    &:focus {
      border: transparent;
    }
  }
}